// 侧边栏样式
.sidebar {
    width: 14em;
}

.sidebar-heading {
    font-weight: normal;
    font-size: 16px;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
    font-weight: normal !important;
    font-size: 16px !important;
}

a.sidebar-link {
    font-size: 13px;
}
